#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .current-location-img {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-1.8em,-1.8em);
  }

  .clue-location-img {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-1.8em,-1.8em);
  }